.layout {
  display: flex;
}

.faculty-content {
  flex: 1;

  padding: 20px;
}

.faculty-form {
  display: flex;

  gap: 10px;

  margin: 20px 0;
}

.faculty-form input {
  padding: 10px;

  border: 1px solid #ccc;

  border-radius: 5px;
}

.faculty-form button {
  padding: 10px 20px;

  border: none;

  background-color: #111827;

  color: white;

  border-radius: 5px;

  cursor: pointer;
}

.faculty-table {
  width: 100%;

  border-collapse: collapse;

  margin-top: 20px;
}

.faculty-table th,
.faculty-table td {
  border: 1px solid #ddd;

  padding: 12px;

  text-align: left;
}

.faculty-table th {
  background-color: #f3f4f6;
}

.edit-btn {
  padding: 8px 12px;

  margin-right: 10px;

  border: none;

  background-color: #2563eb;

  color: white;

  border-radius: 5px;

  cursor: pointer;
}

.delete-btn {
  padding: 8px 12px;

  border: none;

  background-color: #dc2626;

  color: white;

  border-radius: 5px;

  cursor: pointer;
}
